.taskContent {
  background-color: var(--gray-400, #262626);
  border-radius: 8px;
  margin: 8px;
  padding: 10px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.removeButton {
  background: none;
  border: none;
}

.checkbox {
  word-break: break-word;
  position: relative;
}

.checkboxLabel {
  display: flex;
  color: var(--gray-100);
}

.checkboxInput {
  display: none;
  margin-right: 10px;
  position: absolute;
}

.circle,
.checkCircle {
  display: block;
  cursor: pointer;
  position: relative;
  margin-right: 5px;
}

.checkboxInput:checked + .checkboxLabel {
  text-decoration: line-through;
  color: var(--gray-300);
}