.header {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    position: absolute;
}

.h1Color1 {
    color: var(--pink);
}

.h1Color2 {
    color: var(--purple);
}