.content {
    position: absolute;
}

.createTask {
    display: flex;
    margin-top: 160px;
}

.input {
    background-color: var(--gray-400, #262626);
    border-radius: 8px;
    border: none;
    color: var(--gray-100);
    font-size: medium;
    height: 16px;
    margin-right: 8px;
    padding: 16px;
    width: 480px;
}

.buttonCreate {
    background-color: var(--pink);
    border: none;
    border-radius: 8px;
    color: white;
    display: flex;
    padding: 15px;
}

.buttonCreate:hover {
    background-color: var(--pink-dark);
}

.tasks {
    display: flex;
    flex-flow: column;
    position: absolute;
}

.countTask {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 25px;
    width: 600px;
}

.color1 {
    color: var(--pink);
}

.color2 {
    color: var(--purple);
}

.color1 span,
.color2 span {
    background-color: var(--gray-400);
    border-radius: 10px;
    color: var(--gray-100);
    padding: 1px 10px;
}

.taskBorder {
    border-radius: 8px;
    border-top: 1px solid var(--gray-400);
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 60px;
}

.noteImg {
    padding-bottom: 10px;
    color: var(--gray-400);
}