.main-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-background {
    background-color: var(--gray-700);
    width: 100%;
    height: 10rem;
    position: relative;
}